body{
	width:100%; height: 100%;
	margin: 0 auto; padding: 0;
	background-color: #fff;
	font-family: 'Lato', sans-serif;
}

/*Prevent Text Selection*/
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*	==============================================
	==============================================
				Input Tweaks
	==============================================
	==============================================	*/
input:focus, input:active { outline: none; }
* {outline: none;}
input{
	width:90%;
	margin:20px 0px 15px 5%;
	font-size: 14pt; font-weight: 300;
	padding: 14px;
	background-color: #fff;
	color:#626c8d;
	border:1px solid rgba(100,110,142,0.2);
	letter-spacing: 1px;
}input:focus{
	background-color: rgba(0,0,0,0.008);
	border:1px solid rgba(100,110,142,0.4);
}
textarea{
	width:90%;
	margin: 0px 0px 15px 5%;
	font-size: 12pt; font-weight: 300; letter-spacing: 1px;
	background-color: #fff;
	box-sizing:border-box !important;
	padding: 15px;
	border:1px solid rgba(100,110,142,0.2); border-left: 2px solid rgba(100,110,142,0.2);
	min-height: 180px;
	line-height: 1.6em;
	letter-spacing: 1px;
	color:#626c8d;
}textarea::-webkit-input-placeholder{font-weight:300; color: #b3b9ca; opacity:0.8;}
	textarea:focus{
		border:1px solid rgba(100,110,142,0.4);
		background-color: rgba(0,0,0,0.008);
		border-left: 2px solid rgba(100,110,142,0.2);
	}
/*	==============================================
	==============================================
				Link Styling
	==============================================
	==============================================	*/
a{
	color:#f5414c;
	font-weight: 400;
	text-decoration: none;
	transition:0.3s;
	padding: 2px;
	border-bottom: 1px dotted #f5414c;
}
	a:hover{
		transition:0.3s;
		color:#000;
		border-bottom: 1px dotted #000;
	}



/*	==============================================
	==============================================
				Sidebar/Nav
	==============================================
	==============================================	*/
nav{
	z-index: 50000;
	width: 300px;
	height: 100%;
	position: fixed; left: 0; top: 0;
	box-sizing: border-box;
	background-color: #2B2F3E;
	color:#93959E;
	overflow-y:auto;
}
	nav h1{
		width:100%;
		text-align: center;
		font-weight: 100;
		font-size: 18pt;
		text-transform: lowercase;
		letter-spacing:1px;
		padding: 0; margin: 0 auto;
		padding-bottom: 30px; padding-top: 30px;
		color:rgba(255,255,255,0.9);
		transition:0.3s;
	}
		nav h1 i{font-size: 52pt;}
		nav h1:hover{
			transition:0.2s;
		}
	nav ul{
		list-style-type: none;
		padding: 0; margin: 0 auto;
		margin-bottom: 50px;
	}
		nav ul li{
			padding: 16px 30px 16px 30px;
			text-transform: uppercase; letter-spacing: 3px; font-weight: 400; font-size: 9pt;
			transition:0.15s;
		}
				nav .activated{
					background: #f5414c;
					background: linear-gradient(to bottom, #f5414c 0%,#ff2c5e 100%);
					color: #fff;
				}
			nav ul li:hover{
				background-color: rgba(255,255,255,0.09);
				transition:0.15s;
				cursor: pointer;
			}
			nav ul li i{padding-right: 10px;}


			#branding{
				width: calc(100% - 300px);
				text-align: center;
				position: fixed;
				bottom: 5px; right: 0px;
				font-size: 9pt; font-weight: 400; letter-spacing: 2px;
				color:#5d6687;
				opacity: 0.5;
				transition:0.3s;
				box-sizing:border-box; padding:5px;
			}
				#branding:hover{
					cursor: pointer;
					transition:0.3s;
					opacity: 0.8;
				}



/*	==============================================
	==============================================
				Main Wrap/Content
	==============================================
	==============================================	*/
article{
	width: calc(100% - 300px); height:100%;
	position: fixed; top:0px; right: 0px;
	background-color: #f9f9f9;
	box-shadow: -6px 0px 15px -4px rgba(0,0,0,0.99);
	overflow: scroll;
	z-index: 500000;
}


	#preview_btn{
		width:300px; height:40px;
		position: fixed; bottom: 0;
		z-index: 499999;
		border: none;
		background-color: #1f222d;
		color:#93959E;
		font-size: 8pt;
		text-transform: uppercase;
		font-weight: 300;
		letter-spacing: 3px;
		transition:0.2s;
	}
		#preview_btn:hover{
			cursor: pointer;
			background-color: #161921;
			transition:0.2s;
		}
	#hide_preview{
		height: 53px; width: 53px;
		line-height: 21px;
		float: right;
		text-align: center;
		box-sizing:border-box;
		font-size: 40pt;
		border: none;
		background-color: #fff;
		color: #3E424F;
		transition:0.3s;
		position: absolute; top:0; right: 0;
	}
		#hide_preview:hover{
			cursor: pointer;
			background-color: transparent;
			color: #fff;
		}
	#save_from_preview{
		height: 53px; width: 53px;
		display: none;
		line-height: 51px;
		position: fixed; right: 0;
		z-index: 5000000;
		margin-top: 54px;
		text-align: center;
		box-sizing:border-box;
		font-size: 26pt;
		padding-top: 10px;
		border-top: 1px solid #3E3242;
		border: none;
		background-color: #fff;
		color: #3E424F;
		transition:0.3s;
	}
		#save_from_preview:hover{
			cursor: pointer;
			background-color: transparent;
			color: #fff;
		}

	progress{
		-webkit-appearance: none;
   		appearance: none;
		width:100%;
		position: absolute; top:0;
		height:3px;
		background: #fff;
	}progress::-webkit-progress-bar {background-color: #F9F9F9;}
		progress::-webkit-progress-value {background: #f5414c;}

	article section{
		width:70%; height:auto;
		position: relative;
		left: 15%; top: 75px;
		background-color: #fff;
		border: 1px solid #eef4f4;
		box-shadow: 0 3px 6px rgba(0,0,0,0.03), 0 3px 6px rgba(0,0,0,0.09);
		box-sizing:border-box;
		padding: 25px;
		margin-bottom: 75px;
		overflow: hidden;
		z-index: 5000;
	}
		article section h2{
			font-weight: 300;
			color: #626c8d;
			text-align: center;
			letter-spacing: 2px;
			text-transform: uppercase;
			font-size: 13pt;
			line-height: 1.6em;
		}
		section #next_button{
			width:50%;
			float: right;
			border:none; border-radius: 0;
			box-sizing:border-box;
			padding: 18px;
			padding-right: 5%;
			background-color: transparent;
			text-transform: uppercase;
			font-weight: 400;
			letter-spacing: 1px;
			font-size: 10pt;
			color:#626c8d;
			transition:0.2s;
			text-align: right;
			margin-top: 10px;
		}
			section #next_button:hover{
				color:#f5414c;
				transition:0.2s;
				cursor: pointer;
			}

			/*article section h3{
				letter-spacing: 1px;
				font-weight: 700;
				color:#626c8d;
				opacity: 0.6;
				font-size: 8pt;
				text-align: center;
				padding-bottom: 5px;
				width: 100%;
			}*/

	label{
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 1px;
		padding: 0; margin: 0 auto;
		padding-left: 5%;
		font-size: 9pt;
		color:rgba(43,47,62,0.2);
	}
	hr{opacity: 0; margin-bottom: 15px;}


/*	==============================================
	==============================================
				Intro box specifics
	==============================================
	==============================================	*/
#intro_box{
	-moz-animation-duration: 0.25s;
   	-webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
    color:#34394b;
}
	#intro_box h4{
		font-size: 28pt;
		width: 100%;
		text-align: center;
		font-weight: 300;
		letter-spacing: 1px;
		line-height: 0.5em;
		padding: 0; margin: 0 auto;
		padding-top: 25px;
	}
		#intro_box h4 i{font-size: 65pt;}
	#intro_box h5{
		text-align: center;
		font-size: 10pt; font-weight: 400; text-transform: lowercase; letter-spacing: 1px;
		padding: 0; margin: 0 auto;
		padding-top: 15px;
		padding-bottom: 25px;
	}



	#intro_box ul{
		list-style-type: none;
		padding: 0; margin: 0 auto;
		padding-top: 15px;
	}
		#intro_box ul li{
			border-bottom: 1px solid #eef4f4;
			overflow: hidden;
			padding: 10px 25px 10px 25px;
			box-sizing:border-box;
			transition:0.2s;
			border-left: 0px solid transparent;
		}
			#intro_box ul li:nth-child(odd){
				background-color: rgba(20,20,20,0.009);
			}
			#intro_box ul li:first-child{
				border-top: 1px solid #eef4f4;
			}
		#intro_box ul li .check_wrap{
			text-align: right;
		}
		#intro_box ul li h5,
		#intro_box ul li h6{
			width:100%;
			float: left;text-align: left;
			margin: 0 auto; padding: 0;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
			#intro_box ul li h5{
				font-weight: 700;
				font-size: 12pt;
			}
			#intro_box ul li h6{
				font-weight: 400;
				text-transform: none;
				line-height: 1.6em;
				font-size: 9pt;
			}



	#intro_box p{
		font-size: 9pt;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 400;
		text-align: center;
		padding: 15px;
		line-height: 1.6em;
		opacity: 0.75;
	}

	#intro_begin,
	#intro_reset{
		width:100%;
		margin-top: 25px;
		border: none;
		background-color: transparent;
		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: 1px;
		font-size: 10pt;
		color:#626c8d;
		transition:0.2s;
		text-align: right;
		transition:0.2s;
	}
	#intro_begin:hover,
	#intro_reset:hover{
		color:#f5414c;
		transition:0.2s;
		cursor: pointer;
	}
	#intro_reset{display: none;}

	#confirm_reset{
		float: right;
		display: none;
		padding-top: 26px;
		padding-bottom: 4px;
		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: 1px;
		font-size: 10pt;
		color:#626c8d;
	}


/*	==============================================
	==============================================
				User Entry Styles
	==============================================
	==============================================	*/
#body_wrap, #education, #work, #statement, #settings, #thanks{
	display: none;
	-moz-animation-duration: 0.25s;
   	-webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
}
/*Hide all inputs and sections*/
#personal_name_input, 
#personal_email_input, 
#personal_phone_input, 
#personal_location_input, 
#personal_link_input, 
#statement,
#work,
#schooling,
#skills,
#settings,
#thanks
{display: none;}

/*Personal statment counter*/
#statement_feedback{
	font-weight: 400;
	color:rgba(43,47,62,0.4);
	font-size: 9pt;
	padding-top: 6px;
	text-transform: uppercase;
	letter-spacing: 1px;
	width: 100%;
	text-align: center;
}#statement_remaining{font-weight: 900; background-color: #FFF508;}

/*Formatting instructions under work textarea*/
#desc_formatting{
	font-size: 9pt;
	letter-spacing: 1px;
	color:rgba(0,0,0,0.5);
	width:100%;
	text-align: center; text-transform: uppercase;
	font-weight: 400;
	line-height: 2em;
}

/*Special styling for inputs with label*/
#statement input, #statement textarea,
#work input, #work textarea,
#schooling input, #schooling textarea,
#skills input, #skills textarea
{
	margin-top: 5;
}

/*Add job and buttons*/
#new_job,
#new_school{
	width:50%;
	float: left;
	border:none; border-radius: 0;
	box-sizing:border-box;
	padding: 18px;
	padding-left: 5%;
	background-color: transparent;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 10pt;
	color:#626c8d;
	transition:0.2s;
	text-align: left;
	margin-top: 10px;
}
	#new_job:hover,
	#new_school:hover{
		color:#f5414c;
		transition:0.2s;
		cursor: pointer;
	}
	#new_job:disabled,
	#new_school:disabled{
		text-decoration: line-through;
		opacity: 0.3;
	}
		#new_job:disabled:hover,
		#new_school:disabled:hover{
			color:inherit;
			cursor: not-allowed;
		}















/*	==============================================
	==============================================
			Final dialogs, settings & thanks
	==============================================
	==============================================	*/
#settings{
	text-align: center;
	display: none;
	color: #626c8d;
}
	#settings ul{
		list-style-type: none;
		padding: 0; margin: 0 auto;
		padding-top: 15px;
		padding-bottom: 10px;
	}
		#settings ul li{
			border-bottom: 1px solid #eef4f4;
			overflow: hidden;
			padding: 10px 25px 10px 25px;
			box-sizing:border-box;
			transition:0.2s;
			border-left: 0px solid transparent;
		}
			#settings ul li:nth-child(1):hover,
			#settings ul li:nth-child(2):hover{
				cursor: pointer;
				transition:0.2s;
				border-left: 5px solid #f5414c;
			}
			#settings ul li:nth-child(odd){
				background-color: rgba(20,20,20,0.009);
			}
			#settings ul li:first-child{
				border-top: 1px solid #eef4f4;
			}
		#settings ul li .check_wrap{
			text-align: right;
		}
		#settings ul li h5,
		#settings ul li h6{
			width:60%;
			float: left;text-align: left;
			margin: 0 auto; padding: 0;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
			#settings ul li h5{
				font-weight: 700;
				font-size: 12pt;
			}
			#settings ul li h6{
				font-weight: 400;
				font-size: 9pt;
			}
			#settings ul li small{
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 8pt;
				position: relative; top:-2px;
			}
		input[type='checkbox']{
			display: inline;
			border: none;
			outline: none;
		    width: 15px;
		    height: 15px;
		    padding: 0;
		    margin:0;
		    position: relative;
		    top: 7px;
		    overflow: hidden;
		}
		/*Plus minus for line height*/
		#settings ul li i{
			font-size: 16pt;
			position: relative; top:7px;
			transition:0.2s;
		}
			#settings ul li i:hover{
				cursor: pointer;
				color: #f5414c;
				transition:0.2s;
			}
		#line_height_counter{
			padding-right: 3px; padding-left: 3px;
			position: relative; top:5px;	
		}
		/*Buttons on last two dialogs*/
		#generate,
		#backtoedit{
			width:50%;
			float: right;
			border:none; border-radius: 0;
			box-sizing:border-box;
			padding: 18px;
			padding-right: 5%;
			background-color: transparent;
			text-transform: uppercase;
			font-weight: 400;
			letter-spacing: 1px;
			font-size: 10pt;
			color:#626c8d;
			transition:0.2s;
			text-align: right;
			margin-top: 10px;
		}
			#generate:hover,
			#backtoedit:hover{
				color:#f5414c;
				transition:0.2s;
				cursor: pointer;
			}

	/*Paragraph on thanks dialog*/
	#thanks p{
		font-weight: 300;
		color: #626c8d;
	}

	/*Tips*/
	#tips{
		width:100%;
		height: 40px;
		line-height: 40px;
		color:#fff;
		background-color: #f5414c;
		position: fixed;
		bottom: 0px;
		z-index: 5000000;
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		text-align: center;
		letter-spacing: 1px;
		font-size: 9pt;
		text-transform: uppercase;
		font-weight: 300;
		display: none;
	}



/*PDF Lightbox*/
#pdf_lightbox{
	width:100%; height: 100%;
	position: fixed; top: 0; left: 0;
	background-color: rgba(43,47,62,0.9);
	z-index: 1000000;

	display: none;
}
	#pdf_lightbox small{
		color:#fff;
		width:100%;
		font-size: 8pt;
		line-height: 2em;
		text-align: center;
		text-transform: uppercase;
		position: relative; left: 25px; top:15px;
		letter-spacing: 2px;
	}


/*Fine tune the PDF*/
#adjustments{
	z-index: 10000000;
	width: calc(100% - 8.23in);
	height:100%;
	position: fixed;
	bottom: 0px; right: 0;
	background: #f5414c;
	background: linear-gradient(to bottom, #f5414c 0%,#ff2c5e 100%);
	box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 -3px 6px rgba(0,0,0,0.23);

	box-sizing:border-box;
	padding: 25px;
}
	#adjustments ul{
		list-style-type: none;
		padding: 0; margin: 0 auto;
	}





