body{
	width:100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: #fff;
	font-family: 'Lato', sans-serif;
}



/*UNIVERSAL FIXES*/
input:focus, input:active { outline: none; }
* {
    outline: none;
}
input{
	width:90%;
	margin-left: 5%;
	margin-bottom: 15px; margin-top: 20px;
	font-size: 14pt;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	padding: 14px;
	background-color: #fff;
	border:1px solid rgba(100,110,142,0.2);
}input:focus{
	border:1px solid rgba(100,110,142,0.4);
	background-color: rgba(0,0,0,0.008);
}
textarea{
	width:90%;
	margin-left: 5%;
	margin-top: 0px;
	margin-bottom: 15px;
	font-size: 12pt;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	padding: 10px;
	letter-spacing: 1px;
	background-color: #fff;
	box-sizing:border-box !important;
	padding: 15px;
	border:1px solid rgba(100,110,142,0.2);
	min-height: 180px;
	border-left: 2px solid rgba(100,110,142,0.2);
}textarea::-webkit-input-placeholder{font-weight:300;}
textarea:focus{
	border:1px solid rgba(100,110,142,0.4);
	background-color: rgba(0,0,0,0.008);
	border-left: 2px solid rgba(100,110,142,0.2);
}

a{
	color:#f5414c;
	font-weight: 400;
	text-decoration: none;
	transition:0.3s;
	padding: 2px;
	border-bottom: 1px dotted #f5414c;
}
	a:hover{
		transition:0.3s;
		color:#000;
		border-bottom: 1px dotted #000;
	}




	#branding{
		width: 300px;
		text-align: center;
		position: fixed;
		bottom: 8px; left: 0px;
		letter-spacing: 2px;
		color:#5d6687;
		font-weight: 400;
		transition:0.3s;
		font-size: 9pt;
		z-index: 500000000;
		font-weight: 300;
	}
		#branding:hover{
			cursor: pointer;
			transition:0.3s;
			color:rgba(255,255,255,0.5);
		}



/*Sidebar*/
aside{
	z-index: 50000;
	width: 300px;
	height: 100%;
	position: fixed; left: 0; top: 0;
	box-sizing: border-box;
	background-color: #2B2F3E;
	color:#93959E;
}
	aside h1{
		width:100%;
		text-align: center;
		font-weight: 100;
		font-size: 18pt;
		text-transform: lowercase;
		letter-spacing:1px;
		padding: 0; margin: 0 auto;
		padding-bottom: 30px; padding-top: 30px;
		color:rgba(255,255,255,0.9);
	}
		aside h1 i{
			font-size: 52pt;
		}
	aside ul{
		list-style-type: none;
		padding: 0;
		margin: 0 auto;
	}
		aside ul li{
			padding: 16px 30px 16px 30px;
			text-transform: uppercase;
			letter-spacing: 3px;
			font-weight: 400;
			font-size: 9pt;
			/*border-top: 1px solid #34394b;*/
			transition:0.15s;
		}
				aside .activated{
					background: #f5414c;
					background: linear-gradient(to bottom, #f5414c 0%,#ff2c5e 100%);
					color: #fff;
				}
			aside ul li:hover{
				background-color: rgba(255,255,255,0.09);
				transition:0.15s;
				cursor: pointer;
			}
			aside ul li i{
				padding-right: 10px;
			}




article{
	width: calc(100% - 300px);
	height:100%;
	position: fixed; top:0px; right: 0px;
	background-color: #f9f9f9;
	box-shadow: -6px 0px 15px -4px rgba(0,0,0,0.99);
	overflow: scroll;
	z-index: 500000;
}

	progress{
		-webkit-appearance: none;
   		appearance: none;
		width:100%;
		position: absolute; top:0;
		height:3px;
		background: #fff;
	}progress::-webkit-progress-bar {
		  background-color: #F9F9F9;
		}
		progress::-webkit-progress-value {
		    background: #f5414c;
		}

	article section{
		width:70%; height:auto;
		min-height: 100px;
		position: relative;
		left: 15%; top: 75px;
		background-color: #fff;
		border: 1px solid #eef4f4;
		box-shadow: 0 3px 6px rgba(0,0,0,0.03), 0 3px 6px rgba(0,0,0,0.09);
		box-sizing:border-box;
		padding: 25px;
		margin-bottom: 75px;
		overflow: hidden;
		z-index: 5000;
	}


		article section h1{
			font-weight: 100;
			font-size: 12pt;
			letter-spacing: 1px;
			padding: 0; margin: 0 auto;
			color: #b9bece;
		}

		article section h2{
			font-weight: 300;
			color: #626c8d;
			text-align: center;
			letter-spacing: 2px;
			text-transform: uppercase;
			font-size: 13pt;
			line-height: 1.6em;
		}

		section #next_button{
			width:50%;
			float: right;
			border:none; border-radius: 0;
			box-sizing:border-box;
			padding: 18px;
			padding-right: 5%;
			background-color: transparent;
			text-transform: uppercase;
			font-weight: 400;
			letter-spacing: 1px;
			font-size: 10pt;
			color:#626c8d;
			transition:0.2s;
			text-align: right;
			margin-top: 10px;
		}
			section #next_button:hover{
				color:#f5414c;
				transition:0.2s;
				cursor: pointer;
			}


label{
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 0; margin: 0 auto;
	padding-left: 5%;
	font-size: 9pt;
	color:rgba(43,47,62,0.2);
}
hr{
	opacity: 0;
	margin-bottom: 15px;
}


/*Introduction Box*/
#intro_box{
	-moz-animation-duration: 0.25s;
   	-webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
    color:#1f222d;
}
	#intro_box h4{
		font-size: 28pt;
		width: 100%;
		text-align: center;
		font-weight: 300;
		letter-spacing: 1px;
		line-height: 0.5em;
		padding: 0; margin: 0 auto;
		padding-top: 25px;
	}
		#intro_box h4 i{
			font-size: 65pt;
		}
	#intro_box h5{
		text-align: center;
		font-weight: 400;
		text-transform: lowercase;
		font-size: 10pt;
		letter-spacing: 1px;
		padding: 0; margin: 0 auto;
		padding-top: 15px;
		padding-bottom: 25px;
	}
	#intro_box ul{
		font-size: 9pt;
		letter-spacing: 1px;
		font-weight: 400;
		list-style-type: none;
		padding-top: 20px;
		padding: 0; margin: 0 auto;
		padding-top: 25px;
		color:#626c8d;
	}
		#intro_box ul li{
			text-align: left;
			padding: 15px;
			border-top: 1px dotted rgba(20,40,60,0.12);
		}
			#intro_box ul li:last-child{
				border-bottom: 1px dotted rgba(20,40,60,0.12);
			}
			#intro_box ul li:nth-child(even){
				font-weight: 700;
				background-color: rgba(43,47,62,0.005);
			}

			#intro_box ul li h1{
				font-size: 16pt;
				font-weight: 400;
				letter-spacing: 2px;
				color:#383e51;
				padding: 0; margin: 0 auto;
			}
				#intro_box ul li h2{
					font-size: 10pt;
					padding: 0; margin: 0 auto;
					padding-top: 2px;
					text-align: left;
					text-transform: none;
				}

	#intro_box p{
		font-size: 9pt;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 400;
		text-align: center;
		padding: 15px;
		line-height: 1.6em;
		opacity: 0.75;
	}

	#intro_begin,
	#intro_reset{
		width:100%;
		margin-top: 25px;
		border: none;
		background-color: transparent;
		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: 1px;
		font-size: 10pt;
		color:#626c8d;
		transition:0.2s;
		text-align: right;
		transition:0.2s;
	}#intro_begin:hover,
	#intro_reset:hover{
		color:#f5414c;
		transition:0.2s;
		cursor: pointer;
	}

	#intro_reset{
		display: none;
	}


/*Body wrap specific*/
#body_wrap, #education, #work, #statement, #settings, #thanks{
	display: none;
	-moz-animation-duration: 0.25s;
   	-webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
}

/*Hide all inputs and sections*/
#personal_name_input, 
#personal_email_input, 
#personal_phone_input, 
#personal_location_input, 
#personal_link_input, 
#statement,
#work,
#schooling,
#skills,
#settings,
#thanks
{
	display: none;
}



/*Personal statment counter*/
#statement_feedback{
	font-weight: 400;
	color:rgba(43,47,62,0.4);
	font-size: 9pt;
	padding-top: 6px;
	text-transform: uppercase;
	letter-spacing: 1px;
	width: 100%;
	text-align: center;
}#statement_remaining{font-weight: 900; background-color: #FFF508;}

/*Formatting instructions under work textarea*/
#desc_formatting{
	font-size: 9pt;
	letter-spacing: 1px;
	color:rgba(0,0,0,0.5);
	width:100%;
	text-align: center; text-transform: uppercase;
	font-weight: 400;
	line-height: 2em;
}

/*Special styling for inputs with label*/
#work input, #work textarea,
#schooling input, #schooling textarea,
#skills input, #skills textarea
{
	margin-top: 5;
}

/*Add job button*/
#new_job,
#new_school{
	width:50%;
	float: left;
	border:none; border-radius: 0;
	box-sizing:border-box;
	padding: 18px;
	padding-left: 5%;
	background-color: transparent;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 10pt;
	color:#626c8d;
	transition:0.2s;
	text-align: left;
	margin-top: 10px;
}
	#new_job:hover,
	#new_school:hover{
		color:#f5414c;
		transition:0.2s;
		cursor: pointer;
	}
	#new_job:disabled,
	#new_school:disabled{
		text-decoration: line-through;
		opacity: 0.3;
	}
		#new_job:disabled:hover,
		#new_school:disabled:hover{
			color:inherit;
			cursor: not-allowed;
		}


















#add_job{
	width:50%;
	float: left;
	border:none; border-radius: 0;
	box-sizing:border-box;
	padding: 18px;
	padding-right: 5%;
	background-color: transparent;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 10pt;
	color:#626c8d;
	transition:0.2s;
	text-align: left;
	margin-top: 10px;
}
	#add_job:hover{
		color:#f5414c;
		transition:0.2s;
		cursor: pointer;
	}
	#add_job:disabled{
		text-decoration: line-through;
		opacity: 0.3;
	}
		#add_job:disabled:hover{
			color:inherit;
			cursor: not-allowed;
		}








#finished, #settings{
	text-align: center;
	display: none;
}
	#seriffont{
		font-family: 'Lora', serif;
		font-weight: 700;
	}
		#serifyes{
			display: inline;
		}
		#seriflabel {
		    display: block;
		    padding-left: 15px;
		    text-indent: -15px;
		}
		#serifyes {
		    width: 15px;
		    height: 15px;
		    padding: 0;
		    margin:0;
		    position: relative;
		    top: 1px;
		    *overflow: hidden;
		}

		#generate,
		#backtoedit{
			width:50%;
			float: right;
			border:none; border-radius: 0;
			box-sizing:border-box;
			padding: 18px;
			padding-right: 5%;
			background-color: transparent;
			text-transform: uppercase;
			font-weight: 400;
			letter-spacing: 1px;
			font-size: 10pt;
			color:#626c8d;
			transition:0.2s;
			text-align: right;
			margin-top: 10px;
		}
			#generate:hover,
			#backtoedit:hover{
				color:#f5414c;
				transition:0.2s;
				cursor: pointer;
			}




#final_instructions{
	display: none;
}#final_instructions img{
	padding: 15px;
	max-width: 100%;
}

#thanks p{
	font-weight: 300;
}

#print_page{
	padding: 0; margin: 0 auto;
	top:0px; left:0%;
	width:7.23in; 
	mso-header-margin:.5in; mso-footer-margin:.5in; mso-paper-source:0;
	z-index: 5000;
	background-color: #fff;
	text-align: center;
	font-family: 'Lora', sans-serif;
	font-weight: 300;
	display: none;
	overflow: visible !important;
}
	#pdf_name{
		width: 100%;
		text-align: center;
		font-size: 28pt;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	#pdf_contact{
		line-height: 1.5em;
		padding-top: 5px;
		padding-bottom: 10px;
	}

	#print_page hr{
		display: block !important;
		opacity: 1;
		color: transparent;
		background-color: transparent;
		border: 0px solid #000;
		border-bottom: 1px solid rgba(0,0,0,0.075);
		/*border-bottom: 1px solid #eef4f4;*/
	}

	#pdf_statement{
		text-align: justify !important;
		line-height: 1.6em;
		text-align: left;
		font-size: 9pt;
		padding-bottom: 6px;
	}

	#print_page h2{
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 14pt;
		letter-spacing: 1px;
	}

	#pdf_job1, #pdf_job2, #pdf_job3{
		text-align: left;
		font-weight: 700;
	}
		#pdf_job1_emp_desc, #pdf_job2_emp_desc, #pdf_job3_emp_desc{
			font-weight: 300;
			font-size: 10pt;
			line-height: 1.5em;
			margin: 0 auto;
			padding-top: 5px;
			padding-bottom: 5px;
		}
		#pdf_job1_job_desc, #pdf_job2_job_desc, #pdf_job3_job_desc{
			font-weight: 300;
			font-size: 10pt;
			line-height: 1.5em;
			margin: 0 auto;
			padding-top: 5px;
			padding-bottom: 5px;
		}
		#job1_title, #job2_title, #job3_title{
			font-size: 10pt;
		}
		#pdf_job2, #pdf_job3{
			padding-top: 15px;
		}

	#print_page h3{
		font-size: 12pt;
		letter-spacing: 1px;
	}

	#print_page h4{
		font-size: 10pt;
		letter-spacing: 1px;
		width: 66%; padding-left: 17%;
	}





















/*Awesome link underlining*/
p > a {
  position: relative;
  color: #f5414c;
  text-decoration: none;
}

p > a:hover {
  color: #f5414c;
}

p > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2;
  left: 0;
  background-color: #f5414c;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

p > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


@media print {
	aside, article, #info_bar, #intro_wrapper{
		display: none;
	}
	#print_page{
		display: block;
		box-sizing:border-box;
	}

}
@page {
	size: auto;   
	margin: 0mm; 
	margin: 10mm; 
}